*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


section{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100%;
        background-image: url(./Images/1.jpg)  ;
        background-size: cover;
        background-repeat: no-repeat;

          
}

.form-box{
    position: relative;
    width: 410px;
    height: 500px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 0.1rem solid white;
    border-radius: 19px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* box-shadow: 3px 2px 20px 3px  rgb(14, 224, 235);     */
}
h1{
    font-size: 2rem;
    color: white;
    line-height: 2rem;
    
    text-align: center;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white ;
    color: white;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    transition: 0.7s;
}

input:focus ~ label,
input:valid~label  {
top: -5px;
}

.input-box i:focus ~ label,
.input-box i:valid~label  {
top: -5px;
}

.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: white;
    padding: 0 35px 0 5px;
}
.input-box i{
    position: absolute;
    background: transparent;
    right: 8px;
    color: rgb(62, 236, 246) ;
    font-size: 1.2em;
    top: 20px;
}

.forger{
    margin: -15px 0 15px;
    font-size: 0.9em;
    color: white;
    display: flex;
    justify-content: left;
}
.forger label input{
    margin-right:5px ;
}


button{
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    box-shadow: 5px 15px 23px black;
    margin-bottom: 30px;
    font-size: 1.3em;
    border: none;
    outline: none;
    background-color: rgb(14, 224, 235) ;
    backdrop-filter: blur(20px);
}
button:hover{
       
    color: white;
    transition: 0.9s;
    cursor: pointer;
}

/* .register{
    color: white;
}

.register p a{
    text-decoration: none;
    color: white;
    margin-left: 90px;
   
}
.register p a:hover{
    text-decoration: underline;
  
    transition: 0.2s;
} */

@media screen and (max-width: 400px)  {

    .form-box{
      width: auto;  

    }
   
    .input-box{
        
        width: 300px;
        
    }
    
}


