*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
  
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden !important;
    /* overflow-y: hidden; */
}    

.navbar{
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%) !important;
       backdrop-filter: blur(60px) !important;   
        overflow: hidden;
      box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
      0px 2px 4px rgba(0,255,255,0.5), 
      0px 4px 8px rgba(0,255,255,0.5), 
      0px 8px 16px rgba(0,255,255,0.5); 
                   
}


.navbar-toggler{
    background:rgb(172, 177, 195) !important;
 

}


.navbar-brand{
    color: white !important;
    font-size: 1.7rem !important;
    font-weight: bold !important ;
    text-transform: uppercase !important;
    margin-left: 20px !important;
    border-bottom: 3px solid rgb(44, 220, 229);
    transition: all 0.40 ease-in;     

}
@media screen and (max-width:356px)  {
  .navbar-brand{
    font-size: 1.2rem !important;

  }
  .navbar-toggler{
    background:rgb(172, 177, 195) !important;
    /* background-color: transparent !important; */
    outline: none !important;
    border: none;
    width: 20% !important;
   

}
}
.navbar-brand:hover{
   color: rgb(14, 224, 235) !important;
   transition: 0.5s  ease-in !important;
   
}


.nav-link{
    color: rgb(238, 238, 238) !important;  
    margin: 1px;
   text-transform: uppercase !important;
      transition: 0.4s !important; 
    font-weight:400  !important ;  
    border-bottom: 2px solid transparent !important;
   

} 
.active{
    color: rgb(14, 224, 235) !important ;
}
    


.nav-link:hover{
   
    border-bottom: 2px solid rgb(14, 224, 235) !important;

    color: rgb(14, 224, 235) !important;
  
}

.btn{
    background: transparent !important;
     border: 1px solid rgb(14, 224, 235) !important;
    margin: 9px !important;
    border-radius: 0px !important;   

}


.btn a{
    background: transparent !important;
    color: rgb(14, 224, 235) !important;

    text-decoration: none !important;
    

}
.btn a:hover{ 
       color: white !important;

}

.btn:hover{
     border: 1px solid rgb(240, 240, 240) !important;
   
   
}

.mmain{
    background-image: url(./Images/Bacc.jpg);
    background-position: 0 70px ;
    background-size: cover;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    position: relative !important;
    z-index: 2 !important;
    display: flex !important;
    flex-wrap: wrap;
}

.mmain::after{
    content: " ";
     width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(42, 40, 40, 0.591);
    z-index: -1;
    opacity: 0.7;
}


.bttn{
    
    border: 1px solid rgb(240, 240, 240) !important;
    color: papayawhip;
    border-radius: 0px !important;
}
.bttn a{
    color: white !important;
    font-weight: 400 !important;
    text-transform: capitalize;
}
.bttn:hover{
    background-color: rgba(202, 202, 202, 0.74) !important;
 
}


.Sec{
    width: 100%;
    text-align: justify;
    transition: 0.4s ease;
    
  
  
    
}

.heading{
    color: rgb(80, 82, 82);
    /* background-color:red; */


}

.heading:hover{
    color: rgb(14, 224, 235);

    cursor: pointer;
}

/* <<<<<<<<<<<Service>>>>>>>>>>>>> */
.detail{
    margin:  20px 0;
    padding: 30px 20px;
    outline: none;
    position: relative;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(0,255,255,0.5), 
    0px 2px 4px rgba(46, 47, 47, 0.5), 
    0px 4px 8px rgba(39, 40, 40, 0.5), 
    0px 8px 16px rgba(20, 30, 30, 0.796);   
    cursor: pointer;
    

}

.detail h1{
    font-size: 24px;
    text-align: center;
    transition: 0.5s all;

}

.detail:hover img{
    filter: invert(1);
}

.detail:hover h1,.detail:hover p{
   color: white;

}

.detail a{
    margin-top: 20px;
     text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #cad1d3b5;    
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 20px;
    transition: 0.5s all;
}
.detail a:hover{
    background-color: rgba(233, 237, 11, 0.748);
    color: black;
    font-weight: 600;
    text-decoration: underline;
    transform: translateX(10px);
}

.detail p{
    font-size: 14px;
}

.detail::before{
    content: "";
    width: 5px;
    height: 100%;
    /* background-image: linear-gradient(360deg, #7373a537 0%, #219ee6 74%); */
    background: linear-gradient(120deg,#177be6 60%, #262626 88%,
    #219ee6 40%, #262626 48%);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.5s all;
}

.detail:hover::before{
    width: 100%;  
}



 /* <<<<<<<<<<<<,ABout us>>>>>>>>>>>>>>>>>>. */
 .flip-card {
    background-color: transparent;
    width: auto;
    height: 300px;
    perspective: 1000px;
    font-family: sans-serif;
    overflow:hidden ;
    padding: 20px;
    
    
  }
  
  .title {
    
    font-size: 1em;
    font-weight: 500;
    text-align: center;
    margin: 0px !important;
  }
  
  .flip-card-inner {
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
     transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #177be6 !important;
    border-radius: 1rem;
  }
  
  .flip-card-front {
    background-image: url(./Images/values-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
            /* background: linear-gradient(120deg,#177be6 60%, #262626 88%,
       #219ee6 40%, #177be6 48%); */
    color: #363795;
  }
  
  .flip-card-back {
    background-image: url(./Images/values-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
       bisque 40%, rgb(255, 185, 160) 78%);
    color: white; */   transform: rotateY(180deg);
    color: white !important;
  }
/* <<<<<<<<<<Contach us>>>>>>>>>>> */

.containor {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to right, #4fa6dd, #363795);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow-x: hidden;

}

.containor form .descr {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input, textarea {
  margin: 1em 0 1em 0;
  width: 100%;
  position: relative;
}

.input input, textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 0.7em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid)~label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.form button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width:768px) {
  .picture img{
      display: none !important;
      width: 1000px !important;
  }
}


/* <<<<<<<<<<Contach us end >>>>>>>>>>> */

  /* <<<<<<<<<<<<<,Co Founder? */
  .card-client {
    background: #177be6;
    width: auto;    
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid #f4f2f2;
    box-shadow: 0 6px 10px rgb(148, 149, 151);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
     border: 2px solid #f1f3f3;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #fcffff;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }


  /* <<<<<<<<<<<Co founder end>>>>>>>>>> */

  /* <<<<<<<<<<<<Footer?>>>, */
.Media{
    display: flex;
    width: 100%;
    height: auto;

}
.Media ul{
    margin-top: 10px;
    line-height: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    /* gap: 1%;  */
    z-index: 1;
    
}

.Media ul li{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
}



 .fa-brands:hover{
    color: #219ee6!important;
    transform: scale(1.5) !important;

 }

 .animation{
  transition: 0.9s ease-in !important;
  transition-delay: calc(0.3s ease-in-out);
  transform: scale(0.3) !important; 
  transform: translateX(0.2rem) !important;
  filter: blur(6px);
  opacity: 0 !important;
 }

 
 .animation1{
  transition: 0.9s ease-in !important;
  transition-delay: calc(0.3s ease-in-out);
  transform: scale(0.3) !important; 
  transform: translateX(-0.2rem) !important;
  filter: blur(6px);
  opacity: 0 !important;


 }

  .show-Animation{
    transform: scale(1)!important ;
    transform: translateX(0) !important;
  filter: blur(0);
  opacity: 1 !important;





 }

  